<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3zwT2o9iGEh7jVHcQ3r1uZDWY_bPWAhs</string>
	<key>GCM_SENDER_ID</key>
	<string>1022471118961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftmedia.jester</string>
	<key>PROJECT_ID</key>
	<string>jester-c49tax</string>
	<key>STORAGE_BUCKET</key>
	<string>jester-c49tax.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022471118961:ios:33034a3de4e59b19297bd0</string>
</dict>
</plist>